---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import ProductsList from '../components/ProductsList.astro';
const pageTitle = "Home Page";
---
<BaseLayout>
  <!-- <h2>My awesome index page</h2> -->
	<ProductsList />
</BaseLayout>